{% extends "base.njk" %}

{% block slides %}
                <section>
                    <h1>CMPUT 404</h1>
                    <h3>Web Applications and Architecture</h3>
                    <h2>Part 01: Introduction</h2>
                    <p>
                      <small>Created by <br>
                        <a href="http://softwareprocess.es">Abram Hindle</a>
                        (<a href="mailto:abram.hindle@ualberta.ca">abram.hindle@ualberta.ca</a>) <br>
                        and Hazel Campbell (<a href="mailto:hazel.campbell@ualberta.ca">hazel.campbell@ualberta.ca</a>).<br>
                        Copyright 2014-2023.
                      </small>
                    </p>
                  </section>
                  <section>
                    <h2>Introduction</h2>
                    <div class="fit">What are web applications?</div>
                  </section>
                  <section>
                    <h3>Web Applications</h3>
                    <p>
                      A web application is graphical computer program
                      that the user interacts with in a web browser. They often
                      also have a server-side component that runs on a webserver.
                    </p>
                    <ul>
                      <li>gmail</li>
                      <li>Facebook</li>
                      <li>Twitter</li>
                      <li>Discord</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Topics Covered in this Course</h3>
                    <ul style="columns: 3; font-size: 80%;">
                      <li>HTTP</li>
                      <li>Web Servers</li>
                      <li>Web Browsers</li>
                      <li>Web Services</li>
                      <li>Dynamic Webpages</li>
                      <li>Web Applications</li>
                      <li>Frameworks</li>
                      <li>TCP/IP</li>
                      <li>DNS</li>
                      <li>HTML</li>
                      <li>XHTML</li>
                      <li>CSS</li>
                      <li>Javascript</li>
                      <li>AJAX/XHR</li>
                      <li>XML</li>
                      <li>JSON</li>
                      <li>Websockets</li>
                      <li>Git/Github</li>
                      <li>Video</li>
                      <li>Audio</li>
                      <li>SVG</li>
                      <li>REST</li>
                      <li>CGI</li>
                      <li>Django</li>
                      <li>Flask</li>
                      <li>Application Web Servers</li>
                      <li>Security</li>
                      <li>Performance</li>
                      <li>Web Mining</li>
                      <li>TLS/HTTPS</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Course Goals</h3>
                    <ul>
                      <li>Learn about the web from a software developer's viewpoint</li>
                      <li>Apply some of what you learned in:
                        <ul>
                          <li>5 Assignments</li>
                          <li>Labs</li>
                          <li>Course Project</li>
                        </ul>
                      </li>
                    </ul>
                  </section>
                  <section>
                    <h3>Materials</h3>
                    <ul>
                      <li>eclass</li>
                      <li>git &amp; github</li>
                      <li>Python 3</li>
                      <li>virtualenv</li>
                      <li>Web Browser</li>
                      <li>Code editor or IDE</li>
                      <li>CS Dept lab linux machines</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Approach</h3>
                    <ul>
                      <li>I consider this a software engineering class.</li>
                      <li>Thus, we are required to behave ethically as engineers.</li>
                      <li>Be civil, professional, courteous.</li>
                      <li>Help people (students, instructors, TAs) out!</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Participation</h3>
                    <ul>
                      <li> I expect you to attend most classes.</li>
                      <li>I expect you to ask questions in class.</li>
                      <li> I expect you to answer questions in class.</li>
                      <li>Exercises are your participation/attendance mark.</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Exercises</h3>
                    <ul>
                      <li>There will be a exercise at the beginning of most classes.</li>
                      <li>These act as your participation mark for the course.</li>
                      <li>At most the first five minutes of class.</li>
                      <li>Blank exercises do not count!</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Communications</h3>
                    <ul>
                      <li>E-mail your instructor if you want to speak privately.</li>
                      <li>Publicly: discussion forum
                        <ul>
                          <li>Ask assignment/project questions here!</li>
                          <li>This allows everyone to see the benefit, because other students have the same questions.</li>
                        </ul>
                      </li>
                      <li>Office hours: Generally, the hour <strong>After</strong> class</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Academic Integrity</h3>
                    <ul>
                      <li>Course policies and links to the dept/university policies are on the eclass.</li>
                      <li>Using code you found online? Make sure you're allowed to use it and <em>cite it</em>!</li>
                      <li>Write your own code! For assignments you can talk to your fellow students but
                        you must not share code.</li>
                    </ul>
                  </section>
{% endblock %}