{% extends "layouts/main.njk" %}

{% block slides %}
<section style="font-size: 75%;">
    <h1>CMPUT 404</h1>
    <h2>Slide Decks XT</h2>
    <ul class="twoColumn">
        <li><a href="intro.html">Introduction</a></li>
        <li><a href="overview.html">Overview</a></li>
        <li><a href="internet.html">Internet</a></li>
        <li><a href="http.html">HTTP</a></li>
        <li><a href="more-http.html">More HTTP</a></li>
        <li><a href="html.html">HTML</a></li>
        <li><a href="js.html">JavaScript</a></li>
        <li><a href="ajax.html">AJAX</a></li>
        <li><a href="websockets.html">Websockets</a></li>
        <li><a href="rest.html">REST</a></li>
        <li><a href="authentication.html">Authentication</a></li>
        <li><a href="security.html">Security</a></li>
        <li><a href="tls.html">TLS</a></li>
        <li><a href="performance.html">Performance</a></li>
        <li><a href="more_js.html">More JavaScript</a></li>
        <li><a href="pwa.html">Progressive Web Apps</a></li>
    </ul>
    <p class="little">Want to contribute? <a href="https://github.com/uofa-cmput404/slides-xt/">Source Code</a></p>
</section>
<section>
    <h3>On-Campus Resources</h3>
    <ul class="twoColumn wellness">
        <li><a href="wellness.pdf">Wellness</a></li>
        <li><a href="https://www.youtube.com/watch?v=fL8lGHqCUXo">Peer Support</a></li>
    </ul>
</section>
<section>
    <p>Why "XT"? I don't know, they just always put that after things to make them sound better.
    </p>
</section>
{% endblock %}