{% extends "layouts/main.njk" %}

{% block slides %}
                <section>
                    <h1>CMPUT 404</h1>
                    <h3>Web Applications and Architecture</h3>
                    <h2>Part 01: Introduction</h2>
                    <p>
                      <small>Created by <br>
                        <a href="http://softwareprocess.es">Abram Hindle</a>
                        (<a href="mailto:abram.hindle@ualberta.ca">abram.hindle@ualberta.ca</a>) <br>
                        and Hazel Campbell (<a href="mailto:hazel.campbell@ualberta.ca">hazel.campbell@ualberta.ca</a>).<br>
                        Copyright 2014-2025.
                      </small>
                    </p>
                  </section>
                  <section>
                    <h2>Introduction</h2>
                    <div class="fit">What are web applications?</div>
                  </section>
                  <section style="font-size: 90%;">
                    <h3>Web Applications</h3>
                    <p>
                      A web application is graphical computer program
                      that the user interacts with in a web browser. They often
                      also have a server-side component that runs on a webserver.
                      But using a web browser and web server isn't enough to make it "web"...
                    </p>
                    <p>
                      A web application involves the use of <i>hypertext</i>.
                    </p>
                    <ul>
                      <li>gmail</li>
                      <li>Facebook</li>
                      <li>Twitter</li>
                      <li>Discord</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Topics Covered in this Course</h3>
                    <ul style="columns: 3; font-size: 80%;">
                      <li>HTTP</li>
                      <li>Web Servers</li>
                      <li>Web Browsers</li>
                      <li>Web Services</li>
                      <li>Dynamic Webpages</li>
                      <li>Web Applications</li>
                      <li>Frameworks</li>
                      <li>TCP/IP</li>
                      <li>DNS</li>
                      <li>HTML</li>
                      <li>XHTML</li>
                      <li>CSS</li>
                      <li>Javascript</li>
                      <li>AJAX/XHR/Fetch</li>
                      <li>XML</li>
                      <li>JSON</li>
                      <li>Websockets</li>
                      <li>Git/GitHub</li>
                      <li>Video</li>
                      <li>Audio</li>
                      <li>SVG</li>
                      <li>REST</li>
                      <li>Django</li>
                      <li>Flask</li>
                      <li>Application Web Servers</li>
                      <li>Security</li>
                      <li>Performance</li>
                      <li>Web Mining</li>
                      <li>TLS/HTTPS</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Course Goals</h3>
                    <ul>
                      <li>Learn about the web from a software developer's viewpoint</li>
                      <li>Apply some of what you learned in:
                        <ul>
                          <li>
                             <a href="https://uofa-cmput404.github.io/general/labs.html" target="_blank">
                               5-6 Labsignments (Lab Assignments)
                             </a>
                          </li>
                          <li>
                             <a href="https://uofa-cmput404.github.io/general/project.html" target="_blank">
                              Course Project
                             </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </section>
                  <section>
                    <h3>Materials</h3>
                    <ul>
                      <li><b>uofa-cmput404.github.io</b></li>
                      <li>Canvas</li>
                      <li>git &amp; github</li>
                      <li>Python 3</li>
                      <li>virtualenv</li>
                      <li>Web Browser</li>
                      <li>Code editor or IDE</li>
                      <li>CS Dept lab Linux machines</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Approach</h3>
                    <ul>
                      <li>I consider this a software engineering class.</li>
                      <li>Thus, we are required to behave ethically as engineers.</li>
                      <li>Be civil, professional, courteous.</li>
                      <li>Help people (students, instructors, TAs) out!</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Participation</h3>
                    <ul>
                      <li> I expect you to attend most classes.</li>
                      <li>I expect you to ask questions in class.</li>
                      <li> I expect you to answer questions in class.</li>
                      <li>Exercises are your participation/attendance mark.</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Exercises</h3>
                    <ul>
                      <li>There will be a exercise at the beginning of most classes.</li>
                      <li>These act as your participation mark for the course.</li>
                      <li>You will need a phone/tablet/laptop for this.</li>
                      <li>Blank exercises do not count!</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Communications</h3>
                    <ul>
                      <li>Instructor contact form if you want to speak privately.
                        <ul>
                          <li>https://uofa-cmput404.github.io/general/help.html#contact-instructor</li>
                        </ul>
                      </li>
                      <li>Publicly: discussion forum (Canvas)
                        <ul>
                          <li>Ask assignment/project questions here!</li>
                          <li>This allows everyone to see the benefit, because other students have the same questions.</li>
                        </ul>
                      </li>
                      <li>Office hours: Generally, the hour <strong>After</strong> class</li>
                    </ul>
                  </section>
                  <section>
                    <h3>Course Outline (Syllabus)</h3>
                    <ul>
                      <li>This has been centralized on the UAlberta Syllabus repository.
                        <ul style="columns: 3; font-size: 30%;">
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Territorial Acknowledgement</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Instructor Information</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Contact Information</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Office Hours</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Lecture Room &amp; Time</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Teaching Assistant(s)</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Zoom</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Calendar Description</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Additional Course Information (General Content)</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Course Objectives/Outcomes</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Required Course Materials</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Required Technology</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Required Technology: Labs, Assignments, and Project</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Required Technology: Participation</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Other Course Fees</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">On-Line Homework Disclaimer</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Remote Delivery Considerations</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Hybrid Synchronous Delivery</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Student Resources for Remote Learning</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Remote Proctoring Consideration</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Recordings of Synchronous Activities</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Home-based Lab Activities</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Grade Evaluation</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Labs</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Participation &amp; Language Assignment</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Re-examination</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Final Letter Grades</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Letter Grades</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">University of Alberta Grading Policy</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Access to Past or Representative Evaluative Material</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Statements of Expectation for AI Use</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Missed Term Work/Final Exam Due to Non-medical Protected Grounds (e.g., religious beliefs)</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Policies for Late and Missed Term Work</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Late policy</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Missed Term Work: Assignments, Labs, Quizzes, Project Parts, Midterm Exams</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Missed Term Work: Participation</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Re-evaluation of Term Work</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Deferred Final Examination</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Academic Integrity and Student Conduct</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Contract Cheating and Misuse of University Academic Materials or Other Assets</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Contract Cheating: CS Courses</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Intellectual Violence</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Appropriate Collaboration</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Appropriate Collaboration: Citation</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Appropriate Collaboration: Solo Effort: Participation Exercises, Quizzes, Exams</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Appropriate Collaboration: Confidential: Exams</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Appropriate Collaboration: Consultation: Assignments, Labs</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Appropriate Collaboration: Teamwork: Group Projects</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Exam Conduct</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Lecture Conduct</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">University Policy</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Withdrawals</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Course Outlines</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Student Academic Integrity</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Recordings</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Accommodations for Students</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Student Supports</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Faculty of Science Student Services</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Academic Success Centre</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Feeling Stressed, Anxious, or Upset?</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Student Self-Care Guide</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">Learning and Working Environment</a></li>
                        <li><a href="https://uofa-cmput404.github.io/general/outline.html#currentOutline">On-Campus Computer Labs</a></li>
                      </ul></li>
                    </li>
                  </section>
                  <section>
                    <h3><a href="https://uofa-cmput404.github.io/general/outline.html#student-responsibilities" target="_blank">
                     Academic Integrity </a></h3>
                    <ul>
                      <li>Course policies and links to the dept/university policies are on the Syllabus.</li>
                      <li>Using code you found online? Make sure you're allowed to use it and <em>cite it</em>!</li>
                      <li>Write your own code! For assignments you can talk to your fellow students but
                        you must not share code.</li>
                    </ul>
                  </section>
{% endblock %}
