.twoColumn {
    columns: 2;
}
.twoColumn>li {
    margin-right: 1em;
    margin-left: 1em;
}
.little {
    font-size: 70.7%;
}
table.wikitable {
    margin: 0 0;
    text-align: center;
    font-size: 40%;
}
table.wikitable td, table.wikitable th {
    text-align: center;
    vertical-align: middle;
    padding: 0.2em 0.2em 0.2em 0.2em;
}
.columns{
    display: flex;
}
.column{
    flex: 1;
}
body {
    --r-main-font: 'Lexend Deca Variable', 'Source Sans Pro', 'Helvetica', sans-serif;
    --r-heading-font: 'Lexend Deca Variable', 'Source Sans Pro', 'Helvetica', sans-serif;
}
cite {
    font-size: 50%;
}