/* use Andika - Regular in .woff format */
@font-face {
    font-family: AndikaW;
    src: url(../images/andika/web/Andika-Regular.woff2);
  }
  /* use Andika - Italic in .woff2 format */
  @font-face {
    font-family: AndikaW;
    font-style: italic;
    src: url(../images/andika/web/Andika-Italic.woff2);
  }
  /* use Andika - Bold in .woff2 format */
  @font-face {
      font-family: AndikaW;
      font-weight: bold;
      src: url(../images/andika/web/Andika-Bold.woff2);
  }
  /* use Andika - Bold Italic in .woff2 format */
  @font-face {
      font-family: AndikaW;
      font-weight: bold;
      font-style: italic;
      src: url(../images/andika/web/Andika-BoldItalic.woff2);
  }
  
.twoColumn {
    columns: 2;
}
.twoColumn>li {
    margin-right: 1em;
    margin-left: 1em;
}
.little {
    font-size: 70.7%;
}
table.wikitable {
    margin: 0 0;
    text-align: center;
    font-size: 40%;
}
table.wikitable td, table.wikitable th {
    text-align: center;
    vertical-align: middle;
    padding: 0.2em 0.2em 0.2em 0.2em;
}
.columns{
    display: flex;
}
.column{
    flex: 1;
}
body {
    --r-main-font: 'AndikaW', 'Source Sans Pro', 'Helvetica', sans-serif;
    --r-heading-font: 'AndikaW', 'Source Sans Pro', 'Helvetica', sans-serif;
    --r-background-color: #ffe;
    letter-spacing: 0.1rem;
    font-feature-settings: "cv10" 1, "cv39" 1; 
    line-height: 1.1;
}
cite {
    font-size: 50%;
    line-height: normal;
    display: block;
}
section a {
    overflow-wrap: break-word;
    word-break: break-all;
}
h3>b {
    font-size: 133%;
}