{% extends "base.njk" %}

{% block slides %}
<section style="font-size: 80%;">
    <h1>CMPUT 404</h1>
    <h2>Slide Decks XT</h2>
    <ul class="twoColumn">
        <li><a href="decks/intro.html">Introduction</a></li>
        <li><a href="decks/overview.html">Overview</a></li>
        <li><a href="decks/internet.html">Internet</a></li>
        <li><a href="decks/http.html">HTTP</a></li>
        <li><a href="decks/more-http.html">More HTTP</a></li>
        <li><a href="decks/html.html">HTML</a></li>
    </ul>
    <p class="little">Want to contribute? <a href="https://github.com/uofa-cmput404/slides-xt/">Source Code</a></p>
</section>
<section>
    <p>Why "XT"? I don't know, they just always put that after things to make them sound better.
    </p>
</section>
{% endblock %}